* {
  font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: #000;
  color: #fff;
  font-weight: 500;
}

a,
a:hover,
a:visited {
  color: unset;
  text-decoration: none;
}